<app-navbar></app-navbar>

<div class="container pt-3">
    <form [formGroup]="studentform" (ngSubmit)="editStudent()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="text" class="form-control" id="age" formControlName="age">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">email</label>
          <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="place" class="form-label">PLACE</label>
          <input type="text" class="form-control" id="place" formControlName="place">
        </div>
        <input type="hidden" formControlName="_id">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
